<form method="post" action="">
    {% csrf_token %}
    <div class='modal-header bg-primary-700 text-auto'>
        <h6 class='modal-title'>Order Assignment</h6>
        <button type="button" class="close btn btn-icon fuse-ripple-ready" data-dismiss="modal"
                aria-label="Close">
            <i class="icon icon-close-circle-outline text-white"></i>
        </button>
    </div>
    <div class='modal-body'>
        <div class='bootbox-body'>
            <div class="content custom-scrollbar">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form">
                            <div class="form-group mb-4 pt-0">
                                <label class="custom-label">
                                    {{ form.order_id.label }}
                                    {% if form.v.field.required %}
                                        <b style="color: red;">*</b>{% endif %}
                                </label>
                                {{ form.order_id }}
                            </div>
                            {{ form.order_id.errors }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form">
                            <div class="form-group mb-4 pt-0"
                                 style="border-bottom: 0 !important;">
                                <label class="custom-label">
                                    {{ form.order_assigned_role.label }}
                                    {% if form.order_assigned_role.field.required %}
                                        <b style="color: red;">*</b>{% endif %}
                                </label>
                                {{ form.order_assigned_role }}
                            </div>
                            {{ form.order_assigned_role.errors }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form">
                            <div class="form-group mb-4 pt-0"
                                 style="border-bottom: 0 !important;">
                                <label class="custom-label">
                                    {{ form.order_assigned_id.label }}
                                    {% if form.order_assigned_id.field.required %}
                                        <b style="color: red;">*</b>{% endif %}
                                </label>
                                {{ form.order_assigned_id }}
                            </div>
                            {{ form.order_assigned_id.errors }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer bg-grey-100">
        <button data-dismiss="modal" type="button"
                class="btn btn btn-outline-primary fuse-ripple-ready">Cancel
        </button>
        <button type="submit" class="btn btn btn-primary fuse-ripple-ready">
            Submit
        </button>
    </div>
</form>
<!--suppress ES6ConvertVarToLetConst -->
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $("#search-input-select-order-assign-role").select2({placeholder: "--select--", allowClear: false});
        $("#search-input-select-order-assigned-id").select2({placeholder: "--select--", allowClear: false});
    });
    var onRoleSelected;
    onRoleSelected = function onRoleSelected() {
        var role = document.getElementById("search-input-select-order-assign-role").value;
        $.get("/backend/operators/api/dropdown/role/operators/" + role + "/", function (data) {
            // alert(data);
            if (data != "") {
                $("select#search-input-select-order-assigned-id").html(data);
            } else {
                data = "<option value=''>--select--</option>";
                data += "<option value='0' selected>NONE</option>";
                $("select#search-input-select-order-assigned-id").html(data);
            }
        });
    };
</script>
{% include '_include/tab_index.html' %}