{% extends '_include/base-timeline.html' %}{% block head %}{% load static %}
    <title>{{ APP_CONSTANT_APP_NAME }} : {{ title }}</title>{% endblock %}
{% block body %}{% load static %}
    {% load static %}{% csrf_token %}
    <div class="content custom-scrollbar">
        <div class="page-layout simple full-width">
            <div class="page-header bg-primary p-5 body-content-p-b-5">
                <div class="card body-content-card">
                    <nav class="breadcrumb bg-primary-50">
                        <a class="breadcrumb-item" href="{% url 'operators_dashboard' %}">Home</a>
                        <a class="breadcrumb-item" href="{{ index_url }}">{{ title }}</a>
                        <span class="breadcrumb-item active">{{ model.order_code }}</span>
                        <span class="breadcrumb-item active">Details</span>
                    </nav>
                </div>
                {% include '_include/alert.html' %}
                {% if form.errors %}
                    {% include '_include/alert-form-errors.html' %}
                {% endif %}
                <div class="card body-content-card mt-3">
                    <div class="card-header pl-4 pr-4 row no-gutters align-items-center justify-content-between bg-primary-700">
                        <div class="col">
                            <span class="h5 text-white">Procurement Request Details</span>
                        </div>

                        <div class="btn-dropdown">
                            <button role="button" type="button" class="btn btn-icon fuse-ripple-ready"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="icon icon-dots-vertical text-white"></i>
                            </button>
                            <div class="dropdown-menu">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="page-content p-5 body-content-p-t-5">
                <div class="card body-content-card">
                    <div class="card-body p-5">

                        <div>
                            <a data-toggle="collapse" href="#collapseTimeline"
                               aria-expanded="false"
                               aria-controls="collapseTimeline" class="btn btn-outline-primary fuse-ripple-ready">View
                                Timeline</a>
                            {% if display_level_approval == True %}
                                <a href="#"
                                   onclick="singleSelect('{{ select_single_url }}', 'order-level-approve', '{{ model.order_id }}', '{{ item_index_url }}');"
                                   class="btn btn-outline-primary fuse-ripple-ready">Approve</a>
                                <a href="#"
                                   onclick="singleSelect('{{ select_single_url }}', 'order-level-reject', '{{ model.order_id }}', '{{ item_index_url }}');"
                                   class="btn btn-outline-primary fuse-ripple-ready">Reject</a>
                            {% endif %}
                            {% if operator.operator_role == operator.ROLE_OPM and model.order_status == model.STATUS_LEVEL0_APPROVED %}
                                <a href="#" id="btn-update-procurement-method-order"
                                   class="btn btn-outline-primary fuse-ripple-ready">Select Procurement Method</a>
                            {% endif %}
                            {% if operator.operator_department == operator.DEPARTMENT_DAF and operator.operator_role == operator.ROLE_DIRECTOR and model.order_procurement_method != '' and model.order_status == model.STATUS_LEVEL0_APPROVED %}
                                <a href="#"
                                   onclick="singleSelect('{{ select_single_url }}', 'order-review', '{{ model.order_id }}', '{{ item_index_url }}');"
                                   class="btn btn-outline-primary fuse-ripple-ready">Review</a>
                            {% endif %}
                            {% if operator.operator_role == operator.ROLE_COP and model.order_status == model.STATUS_REVIEWED %}
                                <a href="{% url 'order_items_index' pk=model.order_id %}"
                                   class="btn btn-outline-primary fuse-ripple-ready">Update USAID Approval</a>
                                <a href="#"
                                   onclick="singleSelect('{{ select_single_url }}', 'order-approve', '{{ model.order_id }}', '{{ item_index_url }}');"
                                   class="btn btn-outline-primary fuse-ripple-ready">Approve</a>
                                <a href="#"
                                   onclick="singleSelect('{{ select_single_url }}', 'order-reject', '{{ model.order_id }}', '{{ item_index_url }}');"
                                   class="btn btn-outline-primary fuse-ripple-ready">Reject</a>
                            {% endif %}
                            {% if operator.operator_role == operator.ROLE_OPM and model.order_status == model.STATUS_APPROVED %}
                                <a href="#" id="btn-assign-order"
                                   class="btn btn-outline-primary fuse-ripple-ready">Assign Operator</a>
                            {% endif %}
                        </div>

                        <br>
                        <div class="collapse mb-5" id="collapseTimeline">
                            <div class="card card-block">
                                <div id="order-timeline"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <td colspan="1" style="font-weight: bold;">Request Id</td>
                                        <td colspan="3">{{ model.order_code }}</td>
                                        <td colspan="1" style="font-weight: bold;">Status</td>
                                        <td colspan="7">{{ model.order_status|safe }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="font-weight: bold;">Requester name</td>
                                        <td colspan="3">{{ model.order_requester_name }}</td>
                                        <td colspan="1" style="font-weight: bold;">Date of Request</td>
                                        <td colspan="3">{{ model.order_requested_at|date }}</td>
                                        <td colspan="1" style="font-weight: bold;">Project Name</td>
                                        <td colspan="3">{{ model.order_project_name }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="font-weight: bold;">Requester Number</td>
                                        <td colspan="3">{{ model.order_requisition_number }}</td>
                                        <td colspan="1" style="font-weight: bold;">Award Number</td>
                                        <td colspan="3">{{ model.order_award_number }}</td>
                                        <td colspan="1" style="font-weight: bold;">Project Code</td>
                                        <td colspan="3">{{ model.order_project_code }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="font-weight: bold;">Charge Code</td>
                                        <td colspan="3">{{ model.order_charge_code }}</td>
                                        <td colspan="1" style="font-weight: bold;">Donor</td>
                                        <td colspan="3">{{ model.order_donor }}</td>
                                        <td colspan="1" style="font-weight: bold;">Project GeoCode</td>
                                        <td colspan="3">{{ model.order_project_geo_code }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" style="font-weight: bold;">Description</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12">{{ model.order_description }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="font-weight: bold;">Sr. No</td>
                                        <td colspan="3" style="font-weight: bold;">Item Name</td>
                                        <td colspan="1" style="font-weight: bold;">Time in Days</td>
                                        <td colspan="3" style="font-weight: bold;">Unit Price</td>
                                        <td colspan="1" style="font-weight: bold;">Quantity</td>
                                        <td colspan="3" style="font-weight: bold;">Total Amount
                                            in {{ model.order_currency }}</td>
                                    </tr>

                                    {% for order_item in order_items %}
                                        <tr>
                                            <td colspan="1">{{ forloop.counter }}</td>
                                            <td colspan="3">{{ order_item.order_item_title }}</td>
                                            <td colspan="1">{{ order_item.order_item_duration }}</td>
                                            <td colspan="3">{{ order_item.order_item_unit_price }}</td>
                                            <td colspan="1">{{ order_item.order_item_quantity_ordered }} {{ order_item.order_item_quantity_unit }}</td>
                                            <td colspan="3">{{ order_item.order_item_total_price }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="4" style="font-weight: bold;">Sub Total</td>
                                        <td colspan="1"></td>
                                        <td colspan="3"></td>
                                        <td colspan="1"></td>
                                        <td colspan="3">{{ model.order_total_price }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="font-weight: bold;">Equipment Price</td>
                                        <td colspan="1"></td>
                                        <td colspan="3"></td>
                                        <td colspan="1"></td>
                                        <td colspan="3">{{ model.order_equipment_price }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="font-weight: bold;">Tax Amount</td>
                                        <td colspan="1"></td>
                                        <td colspan="3"></td>
                                        <td colspan="1"></td>
                                        <td colspan="3">{{ model.order_tax_price }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="font-weight: bold;">Grand Total
                                            in {{ model.order_currency }}</td>
                                        <td colspan="1"></td>
                                        <td colspan="3"></td>
                                        <td colspan="1"></td>
                                        <td colspan="3"><b>{{ model.order_grand_total_price }}</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="12"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" style="font-weight: bold;">Anticipated Award Mechanism</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12">{{ model.order_anticipated_award_mechanism }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="font-weight: bold;">Anticipated Start Date</td>
                                        <td colspan="4">{{ model.order_anticipated_start_date }}</td>
                                        <td colspan="2" style="font-weight: bold;">Anticipated End Date</td>
                                        <td colspan="4">{{ model.order_anticipated_end_date }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" style="font-weight: bold;">Special Considerations</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12">{{ model.order_special_considerations }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="font-weight: bold;">Prepared By</td>
                                        <td colspan="4">{{ model.order_requested_by }}</td>
                                        <td colspan="2" style="font-weight: bold;">Title</td>
                                        <td colspan="4">{{ model.order_requested_role }}</td>
                                    </tr>
                                    <tr style="height: 60px;">
                                        <td colspan="2" style="font-weight: bold;">Signature</td>
                                        <td colspan="4"></td>
                                        <td colspan="2" style="font-weight: bold;">Date</td>
                                        <td colspan="4">{{ model.order_requested_at|date }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="font-weight: bold;">Reviewed By</td>
                                        <td colspan="4">{{ model.order_reviewed_by }}</td>
                                        <td colspan="2" style="font-weight: bold;">Title</td>
                                        <td colspan="4">{{ model.order_reviewed_role }}
                                            of {{ model.order_reviewed_department }}</td>
                                    </tr>
                                    <tr style="height: 60px;">
                                        <td colspan="2" style="font-weight: bold;">Signature</td>
                                        <td colspan="4"></td>
                                        <td colspan="2" style="font-weight: bold;">Date</td>
                                        <td colspan="4">{{ model.order_reviewed_at|date }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="font-weight: bold;">Approved By</td>
                                        <td colspan="4">{{ model.order_approved_by }}</td>
                                        <td colspan="2" style="font-weight: bold;">Title</td>
                                        <td colspan="4">{{ model.order_approved_role }}</td>
                                    </tr>
                                    <tr style="height: 60px;">
                                        <td colspan="2" style="font-weight: bold;">Signature</td>
                                        <td colspan="4"></td>
                                        <td colspan="2" style="font-weight: bold;">Date</td>
                                        <td colspan="4">{{ model.order_approved_at|date }}</td>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bootbox modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#modal").on("hidden.bs.modal", function () {
                // location.reload();
            });
            var url = "{% url 'orders_update_procurement_method' pk='P1' %}";
            url = url.replace("P1", "{{ model.order_id }}");
            $("#btn-update-procurement-method-order").modalForm({
                formURL: url
            });

            var events = [];
            {% for timeline_notification in timeline_notifications %}
                events.push(
                    {
                        date: "{{ timeline_notification.datetime }}",
                        content: "{{  timeline_notification.message|safe }}"
                    }
                );
            {% endfor %}

            $('#order-timeline').roadmap(events, {
                eventsPerSlide: 6,
                slide: 1,
                prevArrow: '<i class="icon icon-arrow-left"></i>',
                nextArrow: '<i class="icon icon-arrow-right"></i>'
            });
        });
    </script>
    {% include '_include/select_single.html' %}
    {% include '_include/tab_index.html' %}
{% endblock %}