{% extends '_include/base-form.html' %}{% block head %}{% load static %}
    <title>{{ APP_CONSTANT_APP_NAME }} : {{ title }}</title>{% endblock %}
{% block body %}{% load static %}
    {% load static %}{% csrf_token %}
    <div class="content custom-scrollbar">
        <div class="page-layout simple full-width">
            <div class="page-header bg-primary p-5 body-content-p-b-5">
                <div class="card body-content-card">
                    <nav class="breadcrumb bg-primary-50">
                        <a class="breadcrumb-item" href="{% url 'operators_dashboard' %}">Home</a>
                        <a class="breadcrumb-item" href="{{ index_url }}">{{ title }}</a>
                        <span class="breadcrumb-item active">{{ model.order_code }}</span>
                        <span class="breadcrumb-item active">Details</span>
                    </nav>
                </div>
                {% include '_include/alert.html' %}
                {% if form.errors %}
                    {% include '_include/alert-form-errors.html' %}
                {% endif %}
                <div class="card body-content-card mt-3">
                    <div class="card-header pl-4 pr-4 row no-gutters align-items-center justify-content-between bg-primary-700">
                        <div class="col">
                            <span class="h5 text-white">Procurement Request Details</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content p-5 body-content-p-t-5">
                <div class="card body-content-card">
                    <div class="card-body p-5">
                        <div>
                            {% if ACCESS_PERMISSION_ORDER_UPDATE in auth_permissions.values %}
                                {% if model.order_created_id|striptags == operator.operator_id|striptags %}

                                    <a href="{% url 'orders_update' pk=model.order_id %}"
                                       class="btn btn-outline-primary fuse-ripple-ready">Update</a>

                                    {% if model.order_status == model.STATUS_PENDING %}
                                        <a href="#"
                                           onclick="singleSelect('{{ select_single_url }}', 'order-request', '{{ model.order_id }}', '{{ item_index_url }}');"
                                           class="btn btn-outline-primary fuse-ripple-ready">Request</a>
                                    {% endif %}

                                {% endif %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <td colspan="1" style="font-weight: bold;">Request Id</td>
                                        <td colspan="3">{{ model.order_code }}</td>
                                        <td colspan="1" style="font-weight: bold;">Status</td>
                                        <td colspan="7">{{ model.order_readable_status|safe }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="font-weight: bold;">Requester name</td>
                                        <td colspan="3">{{ model.order_requester_name }}</td>
                                        <td colspan="1" style="font-weight: bold;">Date of Request</td>
                                        <td colspan="3">{{ model.order_requested_at|date }}</td>
                                        <td colspan="1" style="font-weight: bold;">Project Name</td>
                                        <td colspan="3">{{ model.order_project_name }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="font-weight: bold;">Requester Number</td>
                                        <td colspan="3">{{ model.order_requisition_number }}</td>
                                        <td colspan="1" style="font-weight: bold;">Award Number</td>
                                        <td colspan="3">{{ model.order_award_number }}</td>
                                        <td colspan="1" style="font-weight: bold;">Project Code</td>
                                        <td colspan="3">{{ model.order_project_code }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="font-weight: bold;">Charge Code</td>
                                        <td colspan="3">{{ model.order_charge_code }}</td>
                                        <td colspan="1" style="font-weight: bold;">Donor</td>
                                        <td colspan="3">{{ model.order_donor }}</td>
                                        <td colspan="1" style="font-weight: bold;">Project GeoCode</td>
                                        <td colspan="3">{{ model.order_project_geo_code }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" style="font-weight: bold;">Description</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12">{{ model.order_description }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="font-weight: bold;">Sr. No</td>
                                        <td colspan="3" style="font-weight: bold;">Item Name</td>
                                        <td colspan="1" style="font-weight: bold;">Time in Days</td>
                                        <td colspan="2" style="font-weight: bold;">Unit Price</td>
                                        <td colspan="1" style="font-weight: bold;">Quantity</td>
                                        <td colspan="2" style="font-weight: bold;">Total Amount
                                            in {{ model.order_currency }}</td>
                                        <td colspan="2" style="font-weight: bold;">Action</td>
                                    </tr>

                                    {% for order_item in order_items %}
                                        <tr>
                                            <td colspan="1">{{ forloop.counter }}</td>
                                            <td colspan="3">{{ order_item.order_item_title }}</td>
                                            <td colspan="1">{{ order_item.order_item_duration }}</td>
                                            <td colspan="2">{{ order_item.order_item_unit_price }}</td>
                                            <td colspan="1">{{ order_item.order_item_quantity_ordered }} {{ order_item.order_item_quantity_unit }}</td>
                                            <td colspan="2">{{ order_item.order_item_total_price }}</td>
                                            <td colspan="2">
                                                <div class="btn-group">
                                                    <button class="btn btn-icon ml-1"
                                                            id="btn-edit-order-item-{{ order_item.order_item_id }}">
                                                        <i class="icon icon-account-edit"></i>
                                                    </button>
                                                    <button class="btn btn-icon mr-1" href="#"
                                                            id="btn-delete-order-item-{{ order_item.order_item_id }}"
                                                            onclick="singleSelect('{{ item_select_single_url }}', 'delete', '{{ order_item.order_item_id }}', '{{ item_index_url }}');">
                                                        <i class="icon icon-close"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="1">{{ model.order_no_of_items|add:1 }}</td>
                                        <td colspan="3">-</td>
                                        <td colspan="1">-</td>
                                        <td colspan="2">-</td>
                                        <td colspan="1">-</td>
                                        <td colspan="2">-</td>
                                        <td colspan="2">
                                            {% if ACCESS_PERMISSION_ORDER_UPDATE in auth_permissions.values %}
                                                {% if model.order_created_id|striptags == operator.operator_id|striptags %}
                                                    <button class="btn btn-primary" id="btn-add-order-item">
                                                        <i class="icon icon-plus"
                                                           style="font-size: 16px; vertical-align: top !important;"></i>
                                                        ADD
                                                    </button>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="font-weight: bold;">Sub Total</td>
                                        <td colspan="1"></td>
                                        <td colspan="2"></td>
                                        <td colspan="1"></td>
                                        <td colspan="2">{{ model.order_total_price }}</td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="font-weight: bold;">Equipment Price</td>
                                        <td colspan="1"></td>
                                        <td colspan="2"></td>
                                        <td colspan="1"></td>
                                        <td colspan="2">{{ model.order_equipment_price }}</td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="font-weight: bold;">Tax Amount</td>
                                        <td colspan="1"></td>
                                        <td colspan="2"></td>
                                        <td colspan="1"></td>
                                        <td colspan="2">{{ model.order_tax_price }}</td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="font-weight: bold;">Grand Total
                                            in {{ model.order_currency }}</td>
                                        <td colspan="1"></td>
                                        <td colspan="2"></td>
                                        <td colspan="1"></td>
                                        <td colspan="2"><b>{{ model.order_grand_total_price }}</b></td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="12"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" style="font-weight: bold;">Anticipated Award Mechanism</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12">{{ model.order_anticipated_award_mechanism }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="font-weight: bold;">Anticipated Start Date</td>
                                        <td colspan="4">{{ model.order_anticipated_start_date }}</td>
                                        <td colspan="2" style="font-weight: bold;">Anticipated End Date</td>
                                        <td colspan="4">{{ model.order_anticipated_end_date }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" style="font-weight: bold;">Special Considerations</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12">{{ model.order_special_considerations }}</td>
                                    </tr>
                                    <td colspan="12"></td>
                                    <tr>
                                        <td colspan="2" style="font-weight: bold;">Prepared By</td>
                                        <td colspan="4">{{ model.order_requested_by }}</td>
                                        <td colspan="2" style="font-weight: bold;">Title</td>
                                        <td colspan="4">{{ model.order_requested_role }}</td>
                                    </tr>
                                    <tr style="height: 60px;">
                                        <td colspan="2" style="font-weight: bold;">Signature</td>
                                        <td colspan="4"></td>
                                        <td colspan="2" style="font-weight: bold;">Date</td>
                                        <td colspan="4">{{ model.order_requested_at|date }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="font-weight: bold;">Reviewed By</td>
                                        <td colspan="4">{{ model.order_reviewed_by }}</td>
                                        <td colspan="2" style="font-weight: bold;">Title</td>
                                        <td colspan="4">{{ model.order_reviewed_role }}
                                            of {{ model.order_reviewed_department }}</td>
                                    </tr>
                                    <tr style="height: 60px;">
                                        <td colspan="2" style="font-weight: bold;">Signature</td>
                                        <td colspan="4"></td>
                                        <td colspan="2" style="font-weight: bold;">Date</td>
                                        <td colspan="4">{{ model.order_reviewed_at|date }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="font-weight: bold;">Approved By</td>
                                        <td colspan="4">{{ model.order_approved_by }}</td>
                                        <td colspan="2" style="font-weight: bold;">Title</td>
                                        <td colspan="4">{{ model.order_approved_role }}</td>
                                    </tr>
                                    <tr style="height: 60px;">
                                        <td colspan="2" style="font-weight: bold;">Signature</td>
                                        <td colspan="4"></td>
                                        <td colspan="2" style="font-weight: bold;">Date</td>
                                        <td colspan="4">{{ model.order_approved_at|date }}</td>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bootbox modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#modal").on("hidden.bs.modal", function () {
                location.reload();
            });
            var url = "{% url 'order_items_create' order_id='P1' %}";
            url = url.replace("P1", "{{ model.order_id }}");
            $("#btn-add-order-item").modalForm({
                formURL: url
            });

            {% for order_item in order_items %}
                url = "{% url 'order_items_update' pk='P1' %}";
                url = url.replace("P1", "{{ order_item.order_item_id }}");
                $("#btn-edit-order-item-{{ order_item.order_item_id }}").modalForm({
                    formURL: url
                });
            {% endfor %}
        });
    </script>
    {% include '_include/select_single.html' %}
    {% include '_include/tab_index.html' %}
{% endblock %}