{% extends '_include/base-dashboard.html' %}{% block head %}{% load static %}
    <title>{{ APP_CONSTANT_APP_NAME }}: Dashboard</title>{% endblock %}
{% block body %}{% load static %}
    <div class="content custom-scrollbar">
        <div class="page-layout simple full-width">
            <div class="page-header bg-primary p-5 body-content-p-b-5">
                <div class="card body-content-card">
                    <div class="card-header pl-4 pr-4 row no-gutters align-items-center justify-content-between bg-primary-700">
                        <div class="col">
                            <span class="h5 text-white">Dashboard</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content p-5 body-content-p-t-5">
                <div class="card body-content-card">
                    <div class="card-body p-5">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}