{% extends '_include/base-dashboard.html' %}
{% block head %}
    {% load static %}
    <title>{{ APP_CONSTANT_APP_NAME }} : Dashboard</title>
{% endblock %}

{% block body %}
    {% load static %}
    <h3>Dashboard</h3>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-dark panel-colorful">
                <div class="pad-all">
                    <p class="text-lg text-semibold">Visitors</p>
                    <p class="mar-no">
                        <span class="pull-right text-bold">764</span>
                        Today
                    </p>
                    <p class="mar-no">
                        <span class="pull-right text-bold">1,332</span>
                        Last 30 Days
                    </p>
                </div>
                <div class="pad-all text-center">
                    <!--Placeholder-->
                    <div id="visitors-sparkline-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <a href="{% url 'operators_index' %}">
                <div class="panel panel-dark panel-colorful">
                    <div class="pad-all text-center">
                        <span class="text-3x text-thin">{{ operators }}</span>
                        <p style="color: #FFF;">{{ MODEL_OPERATORS_PLURAL_TITLE }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#visitors-sparkline-line").sparkline([345, 404, 305, 455, 378, 567, 586, 378, 567, 586, 345, 404, 305, 455, 378, 567, 586, 378, 567, 586, 345, 404, 305, 455, 378, 567, 586, 378, 567, 586], {
                type: 'line',
                width: '100%',
                height: '40',
                spotRadius: 4,
                lineWidth: 1,
                lineColor: '#ffffff',
                fillColor: false,
                minSpotColor: false,
                maxSpotColor: false,
                highlightLineColor: '#ffffff',
                highlightSpotColor: '#ffffff',
                tooltipChartTitle: 'Visitors',
                tooltipPrefix: '',
                spotColor: '#ffffff',
                valueSpots: {
                    '0:': '#ffffff'
                }
            });
        });
    </script>
{% endblock %}