{% extends '_include/base-login.html' %}{% block head %}{% load static %}<title>{{ APP_CONSTANT_APP_NAME }}:
    Operator Forgot Password</title>
{% endblock %}{% block body %}{% load static %}
    <div class="cls-content">
        <div class="cls-content-sm panel" style="background-color: rgba(255, 255, 255, 1.0); width: 360px;">
            <div class="panel-body">{% load static %}{% include '_include/alert.html' %}
                <div class="mar-ver">
                    <h2 style="color: {{ COLOR_PRIMARY }}">Forgot Password</h2>
                    <p class="text-muted" style="color: #000; font-weight: bold;">Please fill out the following
                        fields.</p>
                </div>
                <div style="width:100%; color:#023047; font-weight: bold; text-align: left; float: left;">
                    <form method="post" action="">{% csrf_token %}
                        <div class="form-group">
                            <label style="color: #000; font-weight: bold;">
                                {{ form.email.label }}
                                <label style="color: red; margin-bottom: 0;">
                                    {% if form.email.field.required %} * {% endif %}
                                </label>
                            </label>
                            {{ form.email }}{{ form.email.errors }}
                        </div>
                        <div class="form-group">
                            <label style="color: #000; font-weight: bold;">
                                {{ form.captcha.label }}
                                <label style="color: red; margin-bottom: 0;">
                                    {% if form.captcha.field.required %} * {% endif %}
                                </label>
                            </label>
                            {{ form.captcha }}{{ form.captcha.errors }}
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-primary"> Submit
                        </button>
                    </form>
                </div>
            </div>
            <div class="pad-all">
                <div class="pull-right"><a href="{% url 'operators_signin' %}" class="btn-link"
                                           style="font-weight: bold;">
                    Go
                    to SignIn</a></div>
                <div class="media-body text-left"><a href="{{ APP_CONSTANT_COMPANY_WEBSITE }}" class="btn-link"
                                                     style="font-weight:bold" target="_blank"
                                                     rel="noopener">{{ APP_CONSTANT_COMPANY_NAME }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}