{% extends '_include/base-form.html' %}{% block head %}{% load static %}
    <title>{{ APP_CONSTANT_APP_NAME }} : {{ title }}</title>{% endblock %}
{% block body %}{% load static %}
    {% load static %}{% csrf_token %}
    <div class="content custom-scrollbar">
        <div class="page-layout simple full-width">
            <div class="page-header bg-primary p-5 body-content-p-b-5">
                <div class="card body-content-card">
                    <nav class="breadcrumb bg-primary-50">
                        <a class="breadcrumb-item" href="{% url 'operators_dashboard' %}">Home</a>
                        <span class="breadcrumb-item active">Profile</span>
                    </nav>
                </div>
                {% include '_include/alert.html' %}
                {% if form.errors %}
                    {% include '_include/alert-form-errors.html' %}
                {% endif %}
                <div class="card body-content-card mt-3">
                    <div class="card-header pl-4 pr-4 row no-gutters align-items-center justify-content-between bg-primary-700">
                        <div class="col">
                            <span class="h5 text-white">Profile Details</span>
                        </div>

                        <div class="btn-dropdown">
                            <button role="button" type="button" class="btn btn-icon fuse-ripple-ready"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="icon icon-dots-vertical text-white"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'operators_profile_update' %}">Edit Profile</a>
                                <a class="dropdown-item" href="{% url 'operators_profile_change_password' %}">Change
                                    Password</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="page-content p-5 body-content-p-t-5">
                <div class="card body-content-card">
                    <div class="card-body p-5">
                        <div>
                            <a href="{% url 'operators_profile_update' %}"
                               class="btn btn-outline-primary fuse-ripple-ready">Update</a>
                            <a href="{% url 'operators_profile_change_password' %}"
                               class="btn btn-outline-primary fuse-ripple-ready">Change
                                Password</a>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Personal</th>
                                    </tr>
                                    <tr>
                                        <td>Email Id</td>
                                        <td>{{ model.operator_username }}</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>{{ model.operator_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>{{ model.operator_gender }}</td>
                                    </tr>
                                    <tr>
                                        <td>Contact Number</td>
                                        <td>{{ model.operator_contact_phone_number }}</td>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Other</th>
                                    </tr>
                                    <tr>
                                        <td>Operator Id</td>
                                        <td>{{ model.operator_id }}</td>
                                    </tr>
                                    <tr>
                                        <td>Department</td>
                                        <td>{{ model.operator_department }}</td>
                                    </tr>
                                    <tr>
                                        <td>Role</td>
                                        <td>{{ model.operator_role }}</td>
                                    </tr>
                                    <tr>
                                        <td>Status</td>
                                        <td>
                                            {% if model.operator_status == model.STATUS_ACTIVE %}
                                                <div style="width:100px;">{{ model.HTML_TAG_STATUS_ACTIVE_COLOR | safe }}</div>
                                            {% endif %}
                                            {% if model.operator_status == model.STATUS_INACTIVE %}
                                                <div style="width:100px;">{{ model.HTML_TAG_STATUS_INACTIVE_COLOR | safe }}</div>
                                            {% endif %}
                                            {% if model.operator_status == model.STATUS_BLOCKED %}
                                                <div style="width:100px;">{{ model.HTML_TAG_STATUS_BLOCKED_COLOR | safe }}</div>
                                            {% endif %}
                                            {% if model.operator_status == model.STATUS_UNVERIFIED %}
                                                <div style="width:100px;">{{ model.HTML_TAG_STATUS_UNVERIFIED_COLOR | safe }}</div>
                                            {% endif %}
                                            {% if model.operator_status == model.STATUS_UNAPPROVED %}
                                                <div style="width:100px;">{{ model.HTML_TAG_STATUS_UNAPPROVED_COLOR | safe }}</div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '_include/tab_index.html' %}
{% endblock %}