{% extends '_include/base-login.html' %}{% block head %}{% load static %}
    <title>{{ APP_CONSTANT_APP_NAME }}: Operator SignIn</title>{% endblock %}
{% block body %}{% load static %}

    <div class="content custom-scrollbar">

        <div id="login" class="p-8">

            <div class="form-wrapper md-elevation-8 p-8">

                {% load static %}{% include '_include/alert.html' %}

                <div class="center-block">
                    <img class="img-responsive" src="{% static 'app/android-icon-144x144.png' %}" alt="">
                </div>

                <div class="title mt-4 mb-8 text-primary">Reset password</div>

                <form method="post" action="">
                    {% csrf_token %}

                    <div class="form">
                        <div class="form-group mb-4">
                            {{ form.email }}
                            <label>
                                {{ form.email.label }}
                                {% if form.email.field.required %}<b style="color: red;">*</b>{% endif %}
                            </label>
                        </div>
                        {{ form.email.errors }}
                    </div>

                    <div class="form">
                        <div class="form-group mb-4">
                            <label>
                                {{ form.password.label }}
                                {% if form.password.field.required %}<b style="color: red;">*</b>{% endif %}
                            </label>
                            {{ form.password }}
                        </div>
                        {{ form.password.errors }}
                    </div>

                    <div class="form">
                        <div class="form-group mb-4">
                            <label>
                                {{ form.repeat_password.label }}
                                {% if form.repeat_password.field.required %}<b style="color: red;">*</b>{% endif %}
                            </label>
                            {{ form.repeat_password }}
                        </div>
                        {{ form.repeat_password.errors }}
                    </div>

                    <div class="remember-forgot-password row no-gutters align-items-center justify-content-between pt-4">

                    </div>

                    <button type="submit" class="submit-button btn btn-block btn-primary my-4 mx-auto"
                            aria-label="LOG IN">
                        RESET MY PASSWORD
                    </button>

                </form>

                <div class="login d-flex flex-column flex-sm-row align-items-center justify-content-center mt-8 mb-6 mx-auto">
                    <span class="text mr-sm-2"></span>
                    <a href="{% url 'operators_signin' %}" class="forgot-password text-primary mb-4">Go back to
                        login</a>
                </div>

            </div>
        </div>
    </div>
    {% include '_include/tab_index.html' %}
{% endblock %}