{% extends '_include/base-general-with-dual-listbox.html' %}
{% block head %}
    {% load static %}
    <title>{{ APP_CONSTANT_APP_NAME }} : {{ title }}</title>
    <style>

        .btn.moveall.btn-outline-secondary {
            width: 45%;
            margin-bottom: 5px;
            background-color: #FEFEEE;
            color: #888;
            border-color: #CCC;
            font-weight: bold;
        }

        .btn.move.btn-outline-secondary {
            width: 45%;
            margin-left: 2px;
            margin-bottom: 5px;
            background-color: #FEFEEE;
            color: #888;
            border-color: #CCC;
            font-weight: bold;
        }

        .btn.remove.btn-outline-secondary {
            width: 45%;
            margin-bottom: 5px;
            background-color: #FEFEEE;
            color: #888;
            border-color: #CCC;
            font-weight: bold;
        }

        .btn.removeall.btn-outline-secondary {
            width: 45%;
            margin-left: 2px;
            margin-bottom: 5px;
            background-color: #FEFEEE;
            color: #888;
            border-color: #CCC;
            font-weight: bold;
        }

        select, input {
            font-size: 16px;
        }


    </style>
{% endblock %}

{% block body %}
    {% load static %}{% csrf_token %}

    <ol class="breadcrumb" style="padding-left:0;">
        <li><a href="{% url 'operators_dashboard' %}">Home</a></li>
        <li><a href="{% url 'operators_index' %}">{{ title }}</a></li>
        <li><a href="{% url 'operators_view' pk=model.operator_id %}">{{ model.operator_id }}</a></li>
        <li class="active">Update</li>
    </ol>
    <div class="panel">
        <div class="panel-body" style="padding-top: 0;">
            <h3>Update Permissions</h3>
            <div>
                <form id="update-form" method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>
                            {{ form.email.label }}
                            <label style="color: red; margin-bottom: 0;">
                                {% if form.email.field.required %} * {% endif %}
                            </label>
                        </label>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="form-group">
                        <label>
                            {{ form.name.label }}
                            <label style="color: red; margin-bottom: 0;">
                                {% if form.name.field.required %} * {% endif %}
                            </label>
                        </label>
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                    <select id="dual-listbox" multiple="multiple" size="10" name="duallistbox[]" title="duallistbox[]">
                        {% for auth_permission in all_auth_permissions.values %}
                            {% if auth_permission in operator_auth_permissions.values %}
                                <option value="{{ auth_permission }}" selected="selected">{{ auth_permission }}</option>
                            {% else %}
                                <option value="{{ auth_permission }}">{{ auth_permission }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <button type="submit" class="btn btn-lg btn-block btn-primary"> Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!--suppress ES6ConvertVarToLetConst -->
    <script type="text/javascript" charset="utf-8">
        $('select[name="duallistbox[]"]').bootstrapDualListbox({
            bootstrap2Compatible: false,
            filterTextClear: 'show all',
            filterPlaceHolder: 'Filter',
            moveSelectedLabel: 'Move selected',
            moveAllLabel: 'Move all',
            removeSelectedLabel: 'Remove selected',
            removeAllLabel: 'Remove all',
            moveOnSelect: false,
            preserveSelectionOnMove: false,
            selectedListLabel: 'Given access permissions',
            nonSelectedListLabel: 'Access permissions',
            selectorMinimalHeight: 100,
            showFilterInputs: true,
            nonSelectedFilter: '',
            selectedFilter: '',
            infoText: 'Showing all {0}',
            infoTextFiltered: '<span class="label label-warning">Filtered</span> {0} from {1}',
            infoTextEmpty: 'Empty list',
            filterOnValues: false,
        });
        $("#update-form").submit(function () {
            updatePermissions('{{ model.operator_id }}', $('[name="duallistbox[]"]').val());
            return false;
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        var updatePermissions;
        updatePermissions = function updatePermissions(id, permissions) {
            var confirmMessage;
            confirmMessage = "Are you sure you want to update access permissions of this item?";
            var url = "{% url 'operators_update_permissions_action' %}";
            var csrfmiddlewaretoken = document.querySelector('[name="csrfmiddlewaretoken"]').value;
            bootbox.confirm({
                title: "Confirm?",
                message: confirmMessage,
                buttons: {
                    cancel: {label: '<i class="fa fa-times"></i> Cancel'},
                    confirm: {label: '<i class="fa fa-check"></i> Ok'}
                },
                callback: function (confirmed) {
                    if (confirmed) {
                        bootbox.dialog({
                            closeButton: false,
                            title: "Message",
                            message: '' + '<p>Please wait while loading ...</p>' + '<div class="active progress progress-lg progress-striped"><div style="width: 100%;" class="progress-bar progress-bar-primary"></div></div>' + ''
                        });
                        jQuery(function ($) {
                            $.ajax({
                                type: 'POST',
                                url: url,
                                data: {
                                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                                    permissions: String(permissions),
                                    id: id
                                },
                                success: function (result) {
                                    console.log(JSON.stringify(result));
                                    bootbox.hideAll();
                                    if (result === 'signin') {
                                        window.location.replace("{% url 'operators_signout' %}");
                                    } else if (result === 'success') {
                                        location.reload();
                                    } else {
                                        bootbox.alert({
                                            title: "Message",
                                            message: "An error occurred!!! Please contact admin for support."
                                        });
                                    }
                                },
                                error: function (result) {
                                    console.log(JSON.stringify(result));
                                    bootbox.hideAll();
                                    bootbox.alert({
                                        title: "Message",
                                        message: "An error occurred!!! Please contact admin for support."
                                    });
                                }
                            });
                            return false;
                        });
                    }
                }
            });
        }
    </script>
{% endblock %}