<!--suppress HtmlUnknownTarget -->
<div class="panel" style="padding: 5px 40px 40px;">
    <div class="panel-title" style="text-align: center">
        <p>Card Preview</p>
    </div>
    <section class="invoice" style="background:white; width: 100%; text-align: center;">
        <div class="div-card" id="div-card">
            <div class="div-header" id="div-header">
                <div id="header-title">
                    {{ TEMPLATE_HEADER_TITLE }}
                </div>
            </div>
            <div class="div-center-photo" id="div-center-photo">
                <img class="center-photo"
                     src="{{ TEMPLATE_CENTER_PHOTO }}"
                     alt="Photo"
                     id="center-photo"/>
            </div>
            <br>
            <div class="div-center-info">
                <div class="div-center-name" id="div-center-name">
                    {{ TEMPLATE_CENTER_NAME }}
                </div>
                <div class="div-center-company" id="div-center-company">
                    {{ TEMPLATE_CENTER_COMPANY }}
                </div>
            </div>
            <div>
                <div class="div-center-armed" id="div-center-armed" hidden>A</div>
            </div>
            <div class="div-center-code">
                <img class="center-code" src="{{ TEMPLATE_CENTER_CODE }}"
                     alt="Code"
                     id="center-code"/>
            </div>
            <div class="div-category" id="div-category">
                {{ TEMPLATE_CATEGORY_TITLE }}
            </div>
            <div class="div-footer" id="div-footer">
                {{ TEMPLATE_FOOTER_TITLE }}
            </div>
        </div>
    </section>
</div>