<div class="dt-buttons" style="margin-right:3px;">
    <a id="dt-button-reset-filter" class="btn btn-outline-primary fuse-ripple-ready" href="#">
        <i class="icon icon-restore"
           style="font-size: 16px; vertical-align: top !important;"></i> RESET FILTER
    </a>
</div>
<div class="dt-buttons" style="margin-right:3px;">
    <button id="dt-button-show-length" role="button" type="button"
            class="btn btn-outline-primary fuse-ripple-ready"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Show 10 Rows <i class="icon icon-menu-down"
                        style="font-size: 20px; vertical-align: top !important;"></i>
    </button>
    <div class="dropdown-menu">
        <a id="dt-button-show-length-10" class="dropdown-item" href="#">
            Show 10 Rows
        </a>
        <a id="dt-button-show-length-20" class="dropdown-item" href="#">
            Show 20 Rows
        </a>
        <a id="dt-button-show-length-50" class="dropdown-item" href="#">
            Show 50 Rows
        </a>
        <a id="dt-button-show-length-100" class="dropdown-item" href="#">
            Show 100 Rows
        </a>
        <a id="dt-button-show-length-all" class="dropdown-item" href="#">
            Show All Rows
        </a>
    </div>
</div>
<div class="dt-buttons" style="margin-right:3px;">
    <button role="button" type="button"
            class="btn btn-outline-primary fuse-ripple-ready"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="icon icon-export"
           style="font-size: 16px; vertical-align: top !important;"></i> Export
    </button>
    <div class="dropdown-menu">
        <a id="dt-button-export-copy" class="dropdown-item" href="#">
            Copy
        </a>
        <a id="dt-button-export-excel" class="dropdown-item" href="#">
            Excel
        </a>
        <a id="dt-button-export-print" class="dropdown-item" href="#">
            Print
        </a>
        <a id="dt-button-export-pdf" class="dropdown-item" href="#">
            PDF
        </a>
    </div>
</div>