{% load static %}
<!--suppress HtmlUnknownTarget -->
<nav id="mainnav-container">
    <div id="mainnav" style="background-color:{{ COLOR_PRIMARY }};">
        <div id="mainnav-menu-wrap">
            <div class="nano no-print">
                <div class="nano-content">
                    <div id="mainnav-shortcut">
                        <ul class="list-unstyled">
                            <li class="col-xs-3" data-content="My Profile">
                                <a class="shortcut-grid" href="{% url 'operators_profile_view' %}">
                                    <i class="fa fa-user"></i>
                                </a>
                            </li>
                            <li class="col-xs-3" data-content="Messages">
                                <a class="shortcut-grid" href="{% url 'operators_profile_view' %}">
                                    <i class="fa fa-comments"></i>
                                </a>
                            </li>
                            <li class="col-xs-3" data-content="Settings">
                                {% if ACCESS_PERMISSION_SETTINGS_VIEW in auth_permissions.values %}
                                    <a class="shortcut-grid" href="{% url 'settings_index' %}">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                {% else %}
                                    <a class="shortcut-grid" href="#">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                {% endif %}
                            </li>
                            <li class="col-xs-3" data-content="Help">
                                <a class="shortcut-grid" href="{% url 'operators_profile_view' %}">
                                    <i class="fa fa-info-circle"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul id="mainnav-menu" class="list-group">
                        <li class="list-divider"></li>

                        {% if ACCESS_PERMISSION_DASHBOARD_VIEW in auth_permissions.values %}
                            {% if section == BACKEND_SECTION_DASHBOARD %}
                                <li class="active-link">
                                    <a href="{% url 'operators_dashboard' %}">
                                        <i class="fa fa-home"></i>
                                        <span class="menu-title"><b>Dashboard</b> </span>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'operators_dashboard' %}">
                                        <i class="fa fa-home"></i>
                                        <span class="menu-title"><b>Dashboard</b> </span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}

                        {% if ACCESS_PERMISSION_OPERATOR_VIEW in auth_permissions.values %}
                            {% if section == BACKEND_SECTION_OPERATORS %}
                                <li class="active-link">
                                    <a href="{% url 'operators_index' %}">
                                        <i class="fa fa-users"></i>
                                        <span class="menu-title"><b>{{ MODEL_OPERATORS_PLURAL_TITLE }}</b> </span>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'operators_index' %}">
                                        <i class="fa fa-users"></i>
                                        <span class="menu-title"><b>{{ MODEL_OPERATORS_PLURAL_TITLE }}</b> </span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}

                        {% if ACCESS_PERMISSION_LOG_VIEW in auth_permissions.values %}
                            <li style="background-color: {{ COLOR_PRIMARY }}">

                                <a href="#">
                                    <i class="fa fa-history"></i>
                                    <span class="menu-title"><b>Logs</b></span>
                                    <i class="arrow"></i>
                                </a>

                                {% if section >= BACKEND_SECTION_LOGS and section < BACKEND_SECTION_PROFILE %}
                                    <ul class='collapse in'>

                                        {% if section == BACKEND_SECTION_OPERATOR_LOGS %}
                                            <li class="active-link">
                                                <a href="{% url 'operator_logs_index' %}">
                                                    <i class="fa fa-history"></i>
                                                    <span class="menu-title"> <b>{{ MODEL_OPERATORS_SINGULAR_TITLE }} Logs</b> </span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href="{% url 'operator_logs_index' %}">
                                                    <i class="fa fa-history"></i>
                                                    <span class="menu-title"> <b>{{ MODEL_OPERATORS_SINGULAR_TITLE }} Logs</b> </span>
                                                </a>
                                            </li>
                                        {% endif %}

                                    </ul>
                                {% else %}
                                    <ul class='collapse'>
                                        {% if section == BACKEND_SECTION_OPERATOR_LOGS %}
                                            <li class="active-link">
                                                <a href="{% url 'operator_logs_index' %}">
                                                    <i class="fa fa-history"></i>
                                                    <span class="menu-title"> <b>{{ MODEL_OPERATORS_SINGULAR_TITLE }} Logs</b> </span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href="{% url 'operator_logs_index' %}">
                                                    <i class="fa fa-history"></i>
                                                    <span class="menu-title"> <b>{{ MODEL_OPERATORS_SINGULAR_TITLE }} Logs</b> </span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>