<!--suppress HtmlUnknownTarget -->
<div class="panel" style="padding: 5px 40px 40px;">
    <div class="panel-title" style="text-align: center">
        <p>Card Preview</p>
    </div>
    <section class="invoice" style="background:white; width: 100%; text-align: center;">
        <div class="div-card" id="div-card">
            <div class="div-header" id="div-header">
                <div id="header-title">
                    {{ TEMPLATE_HEADER_TITLE }}
                </div>
            </div>
            <div class="div-center-photo" id="div-center-photo">
                <img class="center-photo"
                     src="{{ TEMPLATE_CENTER_PHOTO }}"
                     alt="Photo"
                     id="center-photo"/>
            </div>
            <br>
            <div class="div-center-info">
                <div class="div-center-name" id="div-center-name">
                    {{ TEMPLATE_CENTER_NAME }}
                </div>
                <div class="div-center-company" id="div-center-company">
                    {{ TEMPLATE_CENTER_COMPANY }}
                </div>
            </div>
            <div>
                <div class="div-center-armed" id="div-center-armed" hidden>A</div>
            </div>
            <div class="div-center-code">
                <img class="center-code" src="{{ TEMPLATE_CENTER_CODE }}"
                     alt="Code"
                     id="center-code"/>
            </div>
            <div class="div-category" id="div-category">
                {{ TEMPLATE_CATEGORY_TITLE }}
            </div>
            <div class="div-footer" id="div-footer">
                {{ TEMPLATE_FOOTER_TITLE }}
            </div>
        </div>
    </section>
</div>

<!--card-->
{% if model.template_display_card_background_image == 1 %}
    {% if model.template_card_background_image != '' %}
        <!--suppress ES6ConvertVarToLetConst -->
        <script type="text/javascript" charset="utf-8">
            var element = $("#div-card");
            element.css("background-image", "url({{ model.template_card_background_image.url }})");
            element.css("background-size", "100% 100%");
            element.css("background-color", "{{ model.template_card_background_color }}");
        </script>
    {% else %}
        <script type="text/javascript" charset="utf-8">
            var element = $("#div-card");
            element.css("background-color", "{{ model.template_card_background_color }}");
        </script>
    {% endif %}
{% else %}
    <script type="text/javascript" charset="utf-8">
        var element = $("#div-card");
        element.css("background-color", "{{ model.template_card_background_color }}");
    </script>
{% endif %}

<!--header-->
{% if model.template_display_header_background_image == 1 %}
    {% if model.template_header_background_image != '' %}
        <!--suppress ES6ConvertVarToLetConst -->
        <script type="text/javascript" charset="utf-8">
            var element = $("#div-header");
            element.css("background-image", "url({{ model.template_header_background_image.url }})");
            element.css("background-size", "100% 100%");
            element.css("background-color", "{{ model.template_header_background_color }}");
            element.css("color", "{{ model.template_header_title_font_color }}");
            element.html("{{ model.template_header_title }}");
        </script>
    {% else %}
        <script type="text/javascript" charset="utf-8">
            var element = $("#div-header");
            element.css("background-color", "{{ model.template_header_background_color }}");
            element.css("color", "{{ model.template_header_title_font_color }}");
            element.html("{{ model.template_header_title }}");
        </script>
    {% endif %}
{% else %}
    <script type="text/javascript" charset="utf-8">
        var element = $("#div-header");
        element.css("background-color", "{{ model.template_header_background_color }}");
        element.css("color", "{{ model.template_header_title_font_color }}");
        element.html("{{ model.template_header_title }}");
    </script>
{% endif %}

<!--center-photo-->
{% if model.template_display_center_photo == 1 %}
    <!--suppress ES6ConvertVarToLetConst -->
    {% if model.template_center_photo != '' %}
        <script type="text/javascript" charset="utf-8">
            $('#center-photo').attr("src", "{{ model.template_center_photo.url }}");
        </script>
    {% else %}
        <script type="text/javascript" charset="utf-8">
            $('#center-photo').attr("src", "{{ TEMPLATE_CENTER_PHOTO }}");
        </script>
    {% endif %}
{% else %}
    <script type="text/javascript" charset="utf-8">
        $('#center-photo').attr("src", "{{ TEMPLATE_TRANSPARENT_IMAGE }}");
    </script>
{% endif %}

<!--center-name-->
{% if model.template_display_center_name == 1 %}
    <!--suppress ES6ConvertVarToLetConst -->
    <script type="text/javascript" charset="utf-8">
        var element = $("#div-center-name");
        element.show();
        element.css("color", "{{ model.template_center_name_font_color }}");
        element.html("{{ model.template_center_name }}");
    </script>
{% else %}
    <script type="text/javascript" charset="utf-8">
        var element = $("#div-center-name");
        element.hide();
        element.css("color", "{{ model.template_center_name_font_color }}");
        element.html("{{ model.template_center_name }}");
    </script>
{% endif %}

<!--center-company-->
{% if model.template_display_center_company == 1 %}
    <!--suppress ES6ConvertVarToLetConst -->
    <script type="text/javascript" charset="utf-8">
        var element = $("#div-center-company");
        element.show();
        element.css("color", "{{ model.template_center_company_font_color }}");
        element.html("{{ model.template_center_company }}");
    </script>
{% else %}
    <script type="text/javascript" charset="utf-8">
        var element = $("#div-center-company");
        element.hide();
        element.css("color", "{{ model.template_center_company_font_color }}");
        element.html("{{ model.template_center_company }}");
    </script>
{% endif %}

<!--center-armed-->
{% if model.template_display_center_armed == 1 %}
    <!--suppress ES6ConvertVarToLetConst -->
    <script type="text/javascript" charset="utf-8">
        var element = $("#div-center-armed");
        element.show();
    </script>
{% else %}
    <script type="text/javascript" charset="utf-8">
        var element = $("#div-center-armed");
        element.hide();
    </script>
{% endif %}

<!--center-code-->
{% if model.template_display_center_code == 1 %}
    <!--suppress ES6ConvertVarToLetConst -->
    <script type="text/javascript" charset="utf-8">
        $('#center-code').attr("src", "{{ TEMPLATE_CENTER_CODE }}");
    </script>
{% else %}
    <script type="text/javascript" charset="utf-8">
        $('#center-code').attr("src", "{{ TEMPLATE_TRANSPARENT_IMAGE }}");
    </script>
{% endif %}


<!--category-->
{% if model.template_display_category == 1 %}
    <!--suppress ES6ConvertVarToLetConst -->
    <script type="text/javascript" charset="utf-8">
        var element = $("#div-category");
        element.show();
        element.css("background-color", "{{ model.template_category_background_color }}");
        element.css("color", "{{ model.template_category_title_font_color }}");
        element.html("{{ model.template_category_title }}");
    </script>
{% else %}
    <script type="text/javascript" charset="utf-8">
        var element = $("#div-category");
        element.hide();
        element.css("background-color", "{{ model.template_category_background_color }}");
        element.css("color", "{{ model.template_category_title_font_color }}");
        element.html("{{ model.template_category_title }}");
    </script>
{% endif %}

<!--footer-->
{% if model.template_display_footer == 1 %}
    <!--suppress ES6ConvertVarToLetConst -->
    <script type="text/javascript" charset="utf-8">
        var element = $("#div-footer");
        element.show();
        element.css("background-color", "{{ model.template_footer_background_color }}");
        element.css("color", "{{ model.template_footer_title_font_color }}");
        element.html("{{ model.template_footer_title }}");
    </script>
{% else %}
    <script type="text/javascript" charset="utf-8">
        var element = $("#div-footer");
        element.hide();
        element.css("background-color", "{{ model.template_footer_background_color }}");
        element.css("color", "{{ model.template_footer_title_font_color }}");
        element.html("{{ model.template_footer_title }}");
    </script>
{% endif %}
