{% load static %}
<nav id="toolbar" class="bg-white">

    <div class="row no-gutters align-items-center flex-nowrap">

        <div class="col">

            <div class="row no-gutters align-items-center flex-nowrap">

                <button type="button" class="toggle-aside-button btn btn-icon d-block d-lg-none"
                        aria-label="aria-label" data-fuse-bar-toggle="aside">
                    <i class="icon icon-menu"></i>
                </button>

                <div class="toolbar-separator d-block d-lg-none"></div>

                <div class="shortcuts-wrapper row no-gutters align-items-center px-0 px-sm-2">

                    <div class="shortcuts row no-gutters align-items-center d-none d-md-flex">

                    </div>

                    <div class="add-shortcut-menu-button dropdown px-1 px-sm-3 show">

                        <div class="dropdown-toggle btn btn-icon fuse-ripple-ready" role="button"
                             id="dropdownNotificationsMenu" data-toggle="dropdown" aria-haspopup="true"
                             aria-expanded="true">
                            <i class="icon icon-email">
                                {% if  operator.operator_notifications_count != 0 %}
                                    <h6 class="badge custom-badge">{{ operator.operator_notifications_count }}</h6>
                                {% endif %}
                            </i>
                        </div>

                        {% if  operator.operator_notifications_count != 0 %}
                            <div class="dropdown-menu mt-2" aria-labelledby="dropdownNotificationsMenu"
                                 x-placement="bottom-start"
                                 style="position: absolute; transform: translate3d(12px, 40px, 0px); top: 0px; left: 0px; will-change: transform; width: 300px;">
                        {% else %}
                            <div class="dropdown-menu mt-4" aria-labelledby="dropdownNotificationsMenu"
                                 x-placement="bottom-start"
                                 style="position: absolute; transform: translate3d(12px, 40px, 0px); top: 0px; left: 0px; will-change: transform; width: 300px;">
                        {% endif %}

                        <div class="dropdown-item fuse-ripple-ready">
                            <div class="row no-gutters align-items-center justify-content-between flex-nowrap">
                                <div class="row no-gutters align-items-center flex-nowrap">
                                    <i class="icon icon-email"></i>
                                    <span class="px-3">Notifications</span>
                                </div>
                            </div>
                        </div>
                        <hr style="height: 2px; color: black; width: 100%">

                        {% if  operator.operator_notifications_count != 0 %}
                            <div class="list-group pt-0 pb-0">

                                {% for notification in operator.operator_notifications_json %}
                                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            {#                                            <h6>Field Officer</h6>#}
                                        </div>
                                        <a href="{{ notification.notification_url }}" style="text-decoration: unset;">
                                            <p class="mb-1">
                                                {{ notification.notification_message|safe }}
                                            </p>
                                            <div class="d-flex w-100 justify-content-between">
                                                <small class="text-muted">{{ notification.notification_created_at|timesince }}</small>
                                                <small class="text-muted">
                                                    <a href="{{ notification.notification_url }}" class="text-grey-500">Read
                                                        More</a>
                                                </small>
                                            </div>
                                        </a>
                                    </div>
                                    <hr style="height: 2px; color: black; width: 100%">
                                {% endfor %}

                            </div>
                        {% else %}
                            <div class="fuse-ripple-ready text-center p-20">
                                    <span class="text-center">
                                        <img src="{% static 'app/images/notification-empty.png' %}"
                                             alt="" class="img-responsive" width="100">
                                    </span>
                            </div>
                            <hr style="height: 2px; color: black; width: 100%">
                        {% endif %}

                        <a class="dropdown-item fuse-ripple-ready text-center"
                           href="{% url 'notifications_index' %}">
                            <span class="text-center">View all</span>
                        </a>

                        {% if  operator.operator_notifications_count != 0 %}
                            </div>
                        {% else %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="toolbar-separator d-block d-lg-none"></div>
            </div>
        </div>

        <div class="col-auto">

            <div class="row no-gutters align-items-center justify-content-end">

                <div class="user-menu-button dropdown">

                    <div class="dropdown-toggle ripple row align-items-center no-gutters px-2 px-sm-4" role="button"
                         id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar-wrapper">
                            <img class="avatar" src="{% static 'templates/fuse/assets/images/avatars/profile.jpg' %}"
                                 alt="">
                            <i class="status text-green icon-checkbox-marked-circle s-4"></i>
                        </div>
                        <span class="username mx-3 d-none d-md-block">{{ operator.operator_name }}</span>
                    </div>

                    <div class="dropdown-menu" aria-labelledby="dropdownUserMenu">

                        <a class="dropdown-item" href="{% url 'operators_profile_view' %}">
                            <div class="row no-gutters align-items-center flex-nowrap">
                                <i class="icon-account"></i>
                                <span class="px-3">My Profile</span>
                            </div>
                        </a>

                        <a class="dropdown-item" href="#">
                            <div class="row no-gutters align-items-center flex-nowrap">
                                <i class="icon-email"></i>
                                <span class="px-3">Inbox</span>
                            </div>
                        </a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{% url 'operators_signout' %}">
                            <div class="row no-gutters align-items-center flex-nowrap">
                                <i class="icon-logout"></i>
                                <span class="px-3">Logout</span>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="toolbar-separator"></div>

                <div class="language-button dropdown">

                    <div class="dropdown-toggle ripple row align-items-center justify-content-center no-gutters px-0 px-sm-4"
                         role="button" id="dropdownLanguageMenu" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                        <div class="row no-gutters align-items-center">
                            <img class="flag mr-2" src="{% static 'templates/fuse/assets/images/flags/us.png' %}"
                                 alt="">
                            <span class="d-none d-md-block">EN</span>
                        </div>
                    </div>

                    <div class="dropdown-menu" aria-labelledby="dropdownLanguageMenu">

                        <a class="dropdown-item" href="#">
                            <div class="row no-gutters align-items-center flex-nowrap">
                                <img class="flag" src="{% static 'templates/fuse/assets/images/flags/us.png' %}" alt="">
                                <span class="px-3">English</span>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="toolbar-separator"></div>

                <button type="button" class="quick-panel-button btn btn-icon"
                        data-fuse-bar-toggle="quick-panel-sidebar" aria-label="aria-label">
                    <i class="icon icon-format-list-bulleted"></i>
                </button>
            </div>
        </div>
    </div>
</nav>