{% load static %}
<aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md"
       data-fuse-bar-position="left">
    <div class="aside-content bg-primary-700 text-auto">

        <div class="aside-toolbar">

            <div class="logo">
                <span class="logo-icon">
                    <div class="center-block">
                        <img class="img-responsive" src="{% static 'app/app-icon-32x32.png' %}" alt="">
                    </div>
                </span>
                <span class="logo-text bold">CNFA</span>
            </div>

            <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block"
                    data-fuse-aside-toggle-fold>
                <i class="icon icon-backburger"></i>
            </button>

        </div>

        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">

            <li class="subheader">
                <span>MENU</span>
            </li>

            <li class="nav-item" role="tab" id="heading-new-request">

                <a class="nav-link ripple with-arrow collapsed fuse-ripple-ready" data-toggle="collapse"
                   data-target="#collapse-new-request" href="#" aria-expanded="false"
                   aria-controls="collapse-new-request"
                   data-parent="#sidenav">

                    <i class="icon s-4 icon-plus-box"></i>

                    <span>New Request</span>
                </a>
                <ul id="collapse-new-request" class="collapse " role="tabpanel" aria-labelledby="heading-new-request"
                    data-children=".nav-item">

                    {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="{% url 'orders_create' %}">

                                <i class="icon s-4 icon-plus-box"></i>

                                <span>Procurement Request</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="{% url 'product_requests_create' %}">

                                <i class="icon s-4 icon-plus-box"></i>

                                <span>Stock Request</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="#">

                                <i class="icon s-4 icon-plus-box"></i>

                                <span>Staff Request</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="#">

                                <i class="icon s-4 icon-plus-box"></i>

                                <span>Mission Request</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="#">

                                <i class="icon s-4 icon-plus-box"></i>

                                <span>Leave Request</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>

            {% if ACCESS_PERMISSION_DASHBOARD_VIEW in auth_permissions.values %}
                {% if section == BACKEND_SECTION_DASHBOARD %}
                    <li class="nav-item">
                        <a class="nav-link ripple active" href="{% url 'operators_dashboard' %}">

                            <i class="icon s-4 icon-view-dashboard"></i>

                            <span>Dashboard</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link ripple" href="{% url 'operators_dashboard' %}">

                            <i class="icon s-4 icon-view-dashboard"></i>

                            <span>Dashboard</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}


            <li class="nav-item" role="tab" id="heading-procurements">

                {% if section >= BACKEND_SECTION_PROCUREMENTS and section < BACKEND_SECTION_STOCKS %}
                    <a class="nav-link ripple with-arrow fuse-ripple-ready" data-toggle="collapse"
                       data-target="#collapse-procurements" href="#" aria-expanded="false"
                       aria-controls="collapse-procurements"
                       data-parent="#sidenav">

                        <i class="icon s-4 icon-trophy-outline"></i>

                        <span>Procurements</span>
                    </a>
                {% else %}
                    <a class="nav-link ripple with-arrow collapsed fuse-ripple-ready" data-toggle="collapse"
                       data-target="#collapse-procurements" href="#" aria-expanded="false"
                       aria-controls="collapse-procurements"
                       data-parent="#sidenav">

                        <i class="icon s-4 icon-trophy-outline"></i>

                        <span>Procurements</span>
                    </a>
                {% endif %}

                {% if section >= BACKEND_SECTION_PROCUREMENTS and section < BACKEND_SECTION_STOCKS %}
                    <ul id="collapse-procurements" class="collapse show" role="tabpanel"
                        aria-labelledby="heading-procurements"
                        data-children=".nav-item">
                {% else %}
                    <ul id="collapse-procurements" class="collapse" role="tabpanel"
                        aria-labelledby="heading-procurements"
                        data-children=".nav-item">
                {% endif %}

                {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                    {% if section == BACKEND_SECTION_PROCUREMENT_NEW_REQUEST %}
                        <li class="nav-item">
                            <a class="nav-link ripple  active" href="{% url 'orders_create' %}">

                                <i class="icon s-4 icon-plus-box"></i>

                                <span>New Request</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="{% url 'orders_create' %}">

                                <i class="icon s-4 icon-plus-box"></i>

                                <span>New Request</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                    {% if section == BACKEND_SECTION_PROCUREMENT_MY_REQUESTS %}
                        <li class="nav-item">
                            <a class="nav-link ripple  active" href="{% url 'orders_index_operator' %}">

                                <i class="icon s-4 icon-account-check"></i>

                                <span>My Requests</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="{% url 'orders_index_operator' %}">

                                <i class="icon s-4 icon-account-check"></i>

                                <span>My Requests</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                    {% if section == BACKEND_SECTION_PROCUREMENT_ALL_REQUESTS %}
                        <li class="nav-item">
                            <a class="nav-link ripple  active" href="{% url 'orders_index' %}">

                                <i class="icon s-4 icon-check-all"></i>

                                <span>All Requests</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="{% url 'orders_index' %}">

                                <i class="icon s-4 icon-check-all"></i>

                                <span>All Requests</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                    {% if ACCESS_PERMISSION_INVENTORY_VIEW in auth_permissions.values or operator.operator_role == operator.ROLE_RECEPTIONIST %}
                        {% if section == BACKEND_SECTION_PROCUREMENT_PO_REQUESTS %}
                            <li class="nav-item">
                                <a class="nav-link ripple  active" href="{% url 'orders_index_stock' %}">

                                    <i class="icon s-4 icon-google-pages"></i>

                                    <span>PO Requests</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link ripple" href="{% url 'orders_index_stock' %}">

                                    <i class="icon s-4 icon-google-pages"></i>

                                    <span>PO Requests</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if section >= BACKEND_SECTION_PROCUREMENTS and section < BACKEND_SECTION_STOCKS %}
                    </ul>
                {% else %}
                    </ul>
                {% endif %}
            </li>

            <li class="nav-item" role="tab" id="heading-stocks">

                {% if section >= BACKEND_SECTION_STOCKS and section < BACKEND_SECTION_INVENTORY %}
                    <a class="nav-link ripple with-arrow collapsed fuse-ripple-ready" data-toggle="collapse"
                       data-target="#collapse-stocks" href="#" aria-expanded="false"
                       aria-controls="collapse-stocks"
                       data-parent="#sidenav">

                        <i class="icon s-4 icon-stocking"></i>

                        <span>Stocks</span>
                    </a>
                {% else %}
                    <a class="nav-link ripple with-arrow fuse-ripple-ready" data-toggle="collapse"
                       data-target="#collapse-stocks" href="#" aria-expanded="false"
                       aria-controls="collapse-stocks"
                       data-parent="#sidenav">

                        <i class="icon s-4 icon-stocking"></i>

                        <span>Stocks</span>
                    </a>
                {% endif %}

                {% if section >= BACKEND_SECTION_STOCKS and section < BACKEND_SECTION_INVENTORY %}
                    <ul id="collapse-stocks" class="collapse show" role="tabpanel"
                        aria-labelledby="heading-stocks"
                        data-children=".nav-item">
                {% else %}
                    <ul id="collapse-stocks" class="collapse" role="tabpanel"
                        aria-labelledby="heading-stocks"
                        data-children=".nav-item">
                {% endif %}

                {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                    {% if section == BACKEND_SECTION_STOCK_NEW_REQUEST %}
                        <li class="nav-item">
                            <a class="nav-link ripple  active" href="{% url 'product_requests_create' %}">

                                <i class="icon s-4 icon-plus-box"></i>

                                <span>New Request</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="{% url 'product_requests_create' %}">

                                <i class="icon s-4 icon-plus-box"></i>

                                <span>New Request</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                    {% if section == BACKEND_SECTION_STOCK_MY_REQUESTS %}
                        <li class="nav-item">
                            <a class="nav-link ripple  active" href="{% url 'product_requests_index_operator' %}">

                                <i class="icon s-4 icon-account-check"></i>

                                <span>My Requests</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="{% url 'product_requests_index_operator' %}">

                                <i class="icon s-4 icon-account-check"></i>

                                <span>My Requests</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                    {% if section == BACKEND_SECTION_STOCK_ALL_REQUESTS %}
                        <li class="nav-item">
                            <a class="nav-link ripple  active" href="{% url 'product_requests_index' %}">

                                <i class="icon s-4 icon-check-all"></i>

                                <span>All Requests</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="{% url 'product_requests_index' %}">

                                <i class="icon s-4 icon-check-all"></i>

                                <span>All Requests</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if ACCESS_PERMISSION_PRODUCT_VIEW in auth_permissions.values %}
                    {% if section == BACKEND_SECTION_STOCK_ALL_GOODS %}
                        <li class="nav-item">
                            <a class="nav-link ripple active" href="{% url 'products_index_goods' %}">

                                <i class="icon s-4 icon-barley"></i>

                                <span>Goods</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="{% url 'products_index_goods' %}">

                                <i class="icon s-4 icon-barley"></i>

                                <span>Goods</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if ACCESS_PERMISSION_PRODUCT_VIEW in auth_permissions.values %}
                    {% if section == BACKEND_SECTION_STOCK_ALL_ASSETS %}
                        <li class="nav-item">
                            <a class="nav-link ripple active" href="{% url 'products_index_assets' %}">

                                <i class="icon s-4 icon-sofa"></i>

                                <span>Assets</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="{% url 'products_index_assets' %}">

                                <i class="icon s-4 icon-sofa"></i>

                                <span>Assets</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if section >= BACKEND_SECTION_STOCKS and section < BACKEND_SECTION_INVENTORY %}
                    </ul>
                {% else %}
                    </ul>
                {% endif %}
            </li>

            {% if ACCESS_PERMISSION_INVENTORY_VIEW in auth_permissions.values %}
                <li class="nav-item" role="tab" id="heading-inventory">

                    {% if section >= BACKEND_SECTION_INVENTORY and section < BACKEND_SECTION_MEL_DEPARTMENT %}
                        <a class="nav-link ripple with-arrow collapsed fuse-ripple-ready" data-toggle="collapse"
                           data-target="#collapse-inventory" href="#" aria-expanded="false"
                           aria-controls="collapse-inventory"
                           data-parent="#sidenav">

                            <i class="icon s-4 icon-cart"></i>

                            <span>Inventory</span>
                        </a>
                    {% else %}
                        <a class="nav-link ripple with-arrow fuse-ripple-ready" data-toggle="collapse"
                           data-target="#collapse-inventory" href="#" aria-expanded="false"
                           aria-controls="collapse-inventory"
                           data-parent="#sidenav">

                            <i class="icon s-4 icon-cart"></i>

                            <span>Inventory</span>
                        </a>
                    {% endif %}

                    {% if section >= BACKEND_SECTION_INVENTORY and section < BACKEND_SECTION_MEL_DEPARTMENT %}
                        <ul id="collapse-inventory" class="collapse show" role="tabpanel"
                            aria-labelledby="heading-inventory"
                            data-children=".nav-item">
                    {% else %}
                        <ul id="collapse-inventory" class="collapse" role="tabpanel"
                            aria-labelledby="heading-inventory"
                            data-children=".nav-item">
                    {% endif %}

                    {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                        {% if section == BACKEND_SECTION_INVENTORY_GOODS %}
                            <li class="nav-item">
                                <a class="nav-link ripple  active" href="{% url 'products_index_inventory_goods' %}">

                                    <i class="icon s-4 icon-barley"></i>

                                    <span>Goods</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link ripple" href="{% url 'products_index_inventory_goods' %}">

                                    <i class="icon s-4 icon-barley"></i>

                                    <span>Goods</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                        {% if section == BACKEND_SECTION_INVENTORY_ASSETS %}
                            <li class="nav-item">
                                <a class="nav-link ripple  active" href="{% url 'products_index_inventory_assets' %}">

                                    <i class="icon s-4 icon-sofa"></i>

                                    <span>Assets</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link ripple" href="{% url 'products_index_inventory_assets' %}">

                                    <i class="icon s-4 icon-sofa"></i>

                                    <span>Assets</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if section >= BACKEND_SECTION_INVENTORY and section < BACKEND_SECTION_MEL_DEPARTMENT %}
                        </ul>
                    {% else %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}

            {% if ACCESS_PERMISSION_MEL_INDICATORS_VIEW in auth_permissions.values  or ACCESS_PERMISSION_MEL_RESULTS_VIEW in auth_permissions.values or ACCESS_PERMISSION_MEL_ACTIVITIES_VIEW in auth_permissions.values %}
                <li class="nav-item" role="tab" id="heading-mel-department">

                    {% if section >= BACKEND_SECTION_INVENTORY and section < BACKEND_SECTION_GRANT_MANAGEMENT %}
                        <a class="nav-link ripple with-arrow fuse-ripple-ready" data-toggle="collapse"
                           data-target="#collapse-mel-department" href="#" aria-expanded="false"
                           aria-controls="collapse-mel-department"
                           data-parent="#sidenav">

                            <i class="icon s-4 icon-trophy-outline"></i>

                            <span>MEL Department</span>
                        </a>
                    {% else %}
                        <a class="nav-link ripple with-arrow collapsed fuse-ripple-ready" data-toggle="collapse"
                           data-target="#collapse-mel-department" href="#" aria-expanded="false"
                           aria-controls="collapse-mel-department"
                           data-parent="#sidenav">

                            <i class="icon s-4 icon-trophy-outline"></i>

                            <span>MEL Department</span>
                        </a>
                    {% endif %}

                    {% if section >= BACKEND_SECTION_INVENTORY and section < BACKEND_SECTION_GRANT_MANAGEMENT %}
                        <ul id="collapse-mel-department" class="collapse show" role="tabpanel"
                            aria-labelledby="heading-procurements"
                            data-children=".nav-item">
                    {% else %}
                        <ul id="collapse-mel-department" class="collapse" role="tabpanel"
                            aria-labelledby="heading-procurements"
                            data-children=".nav-item">
                    {% endif %}

                    {% if ACCESS_PERMISSION_MEL_INDICATORS_VIEW in auth_permissions.values %}
                        {% if section == BACKEND_SECTION_MEL_DEPARTMENT_INDICATORS %}
                            <li class="nav-item">
                                <a class="nav-link ripple  active" href="{% url 'mel_indicators_index' %}">

                                    <i class="icon s-4 icon-trophy-outline"></i>

                                    <span>Indicators</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link ripple" href="{% url 'mel_indicators_index' %}">

                                    <i class="icon s-4 icon-trophy-outline"></i>

                                    <span>Indicators</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if ACCESS_PERMISSION_MEL_RESULTS_VIEW in auth_permissions.values %}
                        {% if section == BACKEND_SECTION_MEL_DEPARTMENT_RESULTS %}
                            <li class="nav-item">
                                <a class="nav-link ripple  active" href="{% url 'mel_results_index' %}">

                                    <i class="icon s-4 icon-trophy-outline"></i>

                                    <span>Results</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link ripple" href="{% url 'mel_results_index' %}">

                                    <i class="icon s-4 icon-trophy-outline"></i>

                                    <span>Results</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if ACCESS_PERMISSION_MEL_ACTIVITIES_VIEW in auth_permissions.values %}
                        {% if section == BACKEND_SECTION_MEL_DEPARTMENT_ACTIVITIES %}
                            <li class="nav-item">
                                <a class="nav-link ripple  active" href="{% url 'mel_activities_index' %}">

                                    <i class="icon s-4 icon-trophy-outline"></i>

                                    <span>Activities</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link ripple" href="{% url 'mel_activities_index' %}">

                                    <i class="icon s-4 icon-trophy-outline"></i>

                                    <span>Activities</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if section >= BACKEND_SECTION_INVENTORY and section < BACKEND_SECTION_GRANT_MANAGEMENT %}
                        </ul>
                    {% else %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}

            {% if section == BACKEND_SECTION_GRANT_MANAGEMENT %}
                <li class="nav-item">
                    <a class="nav-link ripple active" href="#">

                        <i class="icon s-4 icon-cash-multiple"></i>

                        <span>Grant Management</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link ripple" href="#">

                        <i class="icon s-4 icon-cash-multiple"></i>

                        <span>Grant Management</span>
                    </a>
                </li>
            {% endif %}

            <li class="nav-item" role="tab" id="heading-hrm">

                {% if section >= BACKEND_SECTION_HRM and section < BACKEND_SECTION_OPERATORS %}
                    <a class="nav-link ripple with-arrow collapsed fuse-ripple-ready" data-toggle="collapse"
                       data-target="#collapse-hrm" href="#" aria-expanded="false"
                       aria-controls="collapse-hrm"
                       data-parent="#sidenav">

                        <i class="icon s-4 icon-human-greeting"></i>

                        <span>HR Management</span>
                    </a>
                {% else %}
                    <a class="nav-link ripple with-arrow fuse-ripple-ready" data-toggle="collapse"
                       data-target="#collapse-hrm" href="#" aria-expanded="false"
                       aria-controls="collapse-hrm"
                       data-parent="#sidenav">

                        <i class="icon s-4 icon-human-greeting"></i>

                        <span>HR Management</span>
                    </a>
                {% endif %}

                {% if section >= BACKEND_SECTION_HRM and section < BACKEND_SECTION_OPERATORS %}
                    <ul id="collapse-hrm" class="collapse show" role="tabpanel"
                        aria-labelledby="heading-hrm"
                        data-children=".nav-item">
                {% else %}
                    <ul id="collapse-hrm" class="collapse" role="tabpanel"
                        aria-labelledby="heading-hrm"
                        data-children=".nav-item">
                {% endif %}

                {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                    {% if section == BACKEND_SECTION_HRM_NEW_REQUEST %}
                        <li class="nav-item">
                            <a class="nav-link ripple  active" href="#">

                                <i class="icon s-4 icon-plus-box"></i>

                                <span>New Request</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="#">

                                <i class="icon s-4 icon-plus-box"></i>

                                <span>New Request</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                    {% if section == BACKEND_SECTION_HRM_MY_REQUESTS %}
                        <li class="nav-item">
                            <a class="nav-link ripple  active" href="#">

                                <i class="icon s-4 icon-account-check"></i>

                                <span>My Requests</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="#">

                                <i class="icon s-4 icon-account-check"></i>

                                <span>My Requests</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if ACCESS_PERMISSION_ORDER_CREATE in auth_permissions.values %}
                    {% if section == BACKEND_SECTION_HRM_ALL_REQUESTS %}
                        <li class="nav-item">
                            <a class="nav-link ripple  active" href="#">

                                <i class="icon s-4 icon-check-all"></i>

                                <span>All Requests</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link ripple" href="#">

                                <i class="icon s-4 icon-check-all"></i>

                                <span>All Requests</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if section >= BACKEND_SECTION_HRM and section < BACKEND_SECTION_OPERATORS %}
                    </ul>
                {% else %}
                    </ul>
                {% endif %}
            </li>

            {% if ACCESS_PERMISSION_OPERATOR_VIEW in auth_permissions.values %}
                {% if section == BACKEND_SECTION_OPERATORS %}
                    <li class="nav-item">
                        <a class="nav-link ripple active" href="{% url 'operators_index' %}">

                            <i class="icon s-4 icon-people"></i>

                            <span>Operators</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link ripple" href="{% url 'operators_index' %}">

                            <i class="icon s-4 icon-people"></i>

                            <span>Operators</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}

            {% if section == BACKEND_SECTION_NOTIFICATIONS %}
                <li class="nav-item">
                    <a class="nav-link ripple active" href="{% url 'notifications_index' %}">
                        <i class="icon s-4 icon-message-alert"></i>
                        <span>Notifications</span>
                        {% if operator.operator_notifications_count != 0 %}
                            <p class="badge badge-danger mt-3"
                               style="width: 30px; border-radius: 5px;">{{ operator.operator_notifications_count }}</p>
                        {% endif %}
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link ripple" href="{% url 'notifications_index' %}">
                        <i class="icon s-4 icon-message-alert"></i>
                        <span>Notifications</span>
                        {% if operator.operator_notifications_count != 0 %}
                            <p class="badge badge-danger mt-3"
                               style="width: 30px; border-radius: 5px;">{{ operator.operator_notifications_count }}</p>
                        {% endif %}
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>

</aside>