<footer id="footer">
    {% load static %}

    <div class="show-fixed pull-right no-print">

    </div>

    <div class="hide-fixed pull-right pad-rgt no-print">
        <strong>{{ APP_CONSTANT_APP_NAME_NO_SPACE }} ({{ APP_CONSTANT_APP_VERSION_CODE }})</strong>
    </div>

    <p class="pad-lft no-print">
        <b>&#0169; 2018</b>
        <a href="{{ APP_CONSTANT_COMPANY_WEBSITE }}">
            <b style="color: {{ COLOR_PRIMARY }};">{{ APP_CONSTANT_COMPANY_NAME }}</b>
        </a>
    </p>
</footer>