{% load static %}
<header id="navbar">
    <div id="navbar-container" class="boxed no-print">
        <div class="navbar-header" style="background-color:{{ COLOR_PRIMARY }};">
            <a href="{% url 'operators_dashboard' %}" class="navbar-brand"
               style="background-color:{{ COLOR_PRIMARY }};">
                <img src="{% static 'app/favicon-96x96.png' %}" alt="{{ APP_CONSTANT_APP_SHORT_NAME }}"
                     class="brand-icon" style="width: 32px; height: 32px; margin-top: 5px; margin-left: 10px;">
                <div class="brand-title"><span class="brand-text"
                                               style="margin-left: 10px;">{{ APP_CONSTANT_APP_SHORT_NAME }}</span></div>
            </a>
        </div>
        <div class="navbar-content clearfix">
            <ul class="nav navbar-top-links pull-left">
                <li class="tgl-menu-btn"><a class="mainnav-toggle" href="#" title="MainNav"> <i
                        class="demo-pli-view-list" title="MainNav"></i> </a></li>
            </ul>
            <ul class="nav navbar-top-links pull-right">
                <li id="dropdown-user" class="dropdown"><a href="#" title="User" data-toggle="dropdown"
                                                           class="dropdown-toggle text-right" aria-expanded="false">
                    <div class="username"><strong><i class="demo-psi-male" title="Profiel"></i>
                        &nbsp;{{ operator.operator_name }}</strong></div>
                </a>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default"><br>
                        <ul class="head-list">
                            <li><a href="{% url 'operators_profile_view' %}"> <i
                                    class="demo-pli-male icon-lg icon-fw"></i>
                                Profile </a></li>
                            <li><a href="{% url 'operators_profile_view' %}"> <i
                                    class="demo-pli-mail icon-lg icon-fw"></i>
                                Messages </a></li>
                            <li>
                                {% if ACCESS_PERMISSION_SETTINGS_VIEW in auth_permissions.values %}
                                    <a href="{% url 'settings_index' %}">
                                        <i class="demo-pli-gear icon-lg icon-fw"></i>
                                        Settings
                                    </a>
                                {% else %}
                                    <a href="#">
                                        <i class="demo-pli-gear icon-lg icon-fw"></i>
                                        Settings
                                    </a>
                                {% endif %}
                            </li>
                            <li><a href="{% url 'operators_profile_view' %}"> <i
                                    class="demo-pli-information icon-lg icon-fw"></i> Help </a></li>
                        </ul>
                        <div class="pad-all text-right"><a href="{% url 'operators_signout' %}" class="btn btn-primary">
                            <i class="demo-pli-unlock"></i> Logout </a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>