{% extends '_include/base-table.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% block head %}
    {% load static %}
    <title>{{ APP_CONSTANT_APP_NAME }} : {{ title }}</title>
    <style>
    </style>
{% endblock %}
{% block body %}{% load static %}
    {% load static %}{% csrf_token %}
    <div class="content custom-scrollbar">
        <div class="page-layout simple full-width">
            <div class="page-header bg-primary p-5 body-content-p-b-5">
                <div class="card body-content-card">
                    <nav class="breadcrumb bg-primary-50">
                        <a class="breadcrumb-item" href="{% url 'operators_dashboard' %}">Home</a>
                        <span class="breadcrumb-item active">{{ title }}</span>
                    </nav>
                </div>
                {% include '_include/alert.html' %}
                {% if form.errors %}
                    {% include '_include/alert-form-errors.html' %}
                {% endif %}

                <div class="card body-content-card mt-3" id="div-search">
                    <div class="card-header pl-4 pr-4 row no-gutters align-items-center justify-content-between bg-primary-700">
                        <div class="col">
                            <span class="h5 text-white">Advanced Search</span>
                        </div>
                        <a class="btn btn-icon fuse-ripple-ready" href="javascript:displayDivSearch();">
                            <i class="icon icon-close-circle-outline text-white"></i>
                        </a>
                    </div>
                    <div class="card-body p-5">
                        <form method="post" action="">{% csrf_token %}
                            <button type="submit" class="btn btn-primary fuse-ripple-ready"> Submit</button>
                            <a class="btn btn-outline-primary fuse-ripple-ready" href="{{ index_url }}">Reset</a>
                        </form>
                    </div>
                </div>

                <div class="card body-content-card mt-3">
                    <div class="card-header pl-4 pr-4 row no-gutters align-items-center justify-content-between bg-primary-700">
                        <div class="col">
                            <span class="h5 text-white">{{ title }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content p-5 body-content-p-t-5">
                <div class="card body-content-card">
                    <div class="card-body p-5">
                        <div class="row">
                            <div class="dt-buttons">
                                {% if ACCESS_PERMISSION_MEL_INDICATORS_VIEW in auth_permissions.values %}
                                    <a class="btn btn-link"
                                       href="#">
                                        SELECT PROJECT :
                                    </a>
                                {% endif %}
                            </div>
                            <div class="dt-buttons" style="margin-right:5px; min-width: 200px;">
                                {% if ACCESS_PERMISSION_MEL_INDICATORS_VIEW in auth_permissions.values %}
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <div class="form">
                                            <div class="form-group mb-4 pt-0">
                                                {{ search_form.mel_indicator_id }}
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="dt-buttons" style="margin-right:5px;">
                                {% if ACCESS_PERMISSION_MEL_INDICATORS_UPDATE in auth_permissions.values %}
                                    {% if model.mel_indicator_id|safe != 0|safe %}
                                        <a href="#" id="btn-update-indicator"
                                           class="btn btn-outline-primary btn-block fuse-ripple-ready">
                                            <i class="icon icon-account-edit"
                                               style="font-size: 16px; vertical-align: top !important;"></i> EDIT
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="dt-buttons" style="margin-right:5px;">
                                {% if ACCESS_PERMISSION_MEL_INDICATORS_CREATE in auth_permissions.values %}
                                    <a href="#" id="btn-create-indicator"
                                       class="btn btn-outline-primary btn-block fuse-ripple-ready">
                                        <i class="icon icon-plus"
                                           style="font-size: 16px; vertical-align: top !important;"></i> ADD NEW PROJECT
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <td colspan="1" style="font-weight: bold;" width="100">Name</td>
                                        <td colspan="9">{{ model.mel_indicator_name|safe }}</td>
                                        <td colspan="1" style="font-weight: bold;" width="100">Code</td>
                                        <td colspan="1" width="100">{{ model.mel_indicator_code }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="font-weight: bold;">No</td>
                                        <td colspan="10" style="font-weight: bold;">Description</td>
                                        <td colspan="1" style="font-weight: bold;">Action</td>
                                    </tr>
                                    {% for indicator in indicators %}
                                        <tr>
                                            <td colspan="1">{{ indicator.mel_indicator_number }}</td>
                                            <td colspan="10">{{ indicator.mel_indicator_details }}</td>
                                            <td colspan="1">
                                                {% if ACCESS_PERMISSION_MEL_INDICATORS_UPDATE in auth_permissions.values %}
                                                    {% if model.mel_indicator_id|safe != 0|safe %}
                                                        <div class="btn-group">
                                                            <button class="btn btn-icon ml-1"
                                                                    id="btn-edit-indicator-{{ indicator.mel_indicator_id }}">
                                                                <i class="icon icon-account-edit"></i>
                                                                EDIT
                                                            </button>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bootbox modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#search-input-select-id").select2({placeholder: "--select--", allowClear: false});
            $("#search-input-select-id").on("change", function () {
                var url = "{% url 'mel_indicators_index' id='P1' %}";
                url = url.replace("P1", $("#search-input-select-id").val());
                location.href = url;
            });
            $("#modal").on("hidden.bs.modal", function () {
                location.reload();
            });
            var url = "{% url 'mel_indicators_create'%}";
            $("#btn-create-indicator").modalForm({
                formURL: url
            });
            url = "{% url 'mel_indicators_update' pk='P1' %}";
            url = url.replace("P1", "{{ model.mel_indicator_id }}");
            $("#btn-update-indicator").modalForm({
                formURL: url
            });
            {% for indicator in indicators %}
                {% if ACCESS_PERMISSION_MEL_INDICATORS_UPDATE in auth_permissions.values %}
                    {% if model.mel_indicator_id|safe != 0|safe %}
                        url = "{% url 'mel_indicators_update_item' id='P1' pk='P2' %}";
                        url = url.replace("P1", "{{ model.mel_indicator_id }}");
                        url = url.replace("P2", "{{ indicator.mel_indicator_id }}");
                        $("#btn-edit-indicator-{{ indicator.mel_indicator_id }}").modalForm({
                            formURL: url
                        });
                    {% endif %}
                {% endif %}
            {% endfor %}
        });
    </script>
    {% include '_include/datatable-js.html' %}
    {% include '_include/select_single.html' %}
    {% include '_include/select_multiple.html' %}
{% endblock %}