<form method="post" action="">
    {% csrf_token %}
    <div class='modal-header bg-primary-700 text-auto'>
        <h6 class='modal-title'>Item Details</h6>
        <button type="button" class="close btn btn-icon fuse-ripple-ready" data-dismiss="modal"
                aria-label="Close">
            <i class="icon icon-close-circle-outline text-white"></i>
        </button>
    </div>
    <div class='modal-body'>
        <div class='bootbox-body'>
            <div class="content custom-scrollbar">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form">
                            <div class="form-group mb-4 pt-0">
                                <label class="custom-label">
                                    {{ form.order_id.label }}
                                    {% if form.v.field.required %}
                                        <b style="color: red;">*</b>{% endif %}
                                </label>
                                {{ form.order_id }}
                            </div>
                            {{ form.order_id.errors }}
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form">
                            <div class="form-group mb-4 pt-0"
                                 style="border-bottom: 0 !important;">
                                <label class="custom-label">
                                    {{ form.title.label }}
                                    {% if form.title.field.required %}
                                        <b style="color: red;">*</b>{% endif %}
                                </label>
                                {{ form.title }}
                            </div>
                            {{ form.title.errors }}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form">
                            <div class="form-group mb-4 pt-0"
                                 style="border-bottom: 0 !important;">
                                <label class="custom-label">
                                    {{ form.duration.label }}
                                    {% if form.duration.field.required %}
                                        <b style="color: red;">*</b>{% endif %}
                                </label>
                                {{ form.duration }}
                            </div>
                            {{ form.duration.errors }}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form">
                            <div class="form-group mb-4 pt-0"
                                 style="border-bottom: 0 !important;">
                                <label class="custom-label">
                                    {{ form.unit_price.label }}
                                    {% if form.unit_price.field.required %}
                                        <b style="color: red;">*</b>{% endif %}
                                </label>
                                {{ form.unit_price }}
                            </div>
                            {{ form.unit_price.errors }}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form">
                            <div class="form-group mb-4 pt-0"
                                 style="border-bottom: 0 !important;">
                                <label class="custom-label">
                                    {{ form.currency.label }}
                                    {% if form.currency.field.required %}
                                        <b style="color: red;">*</b>{% endif %}
                                </label>
                                {{ form.currency }}
                            </div>
                            {{ form.currency.errors }}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form">
                            <div class="form-group mb-4 pt-0"
                                 style="border-bottom: 0 !important;">
                                <label class="custom-label">
                                    {{ form.quantity_ordered.label }}
                                    {% if form.quantity_ordered.field.required %}
                                        <b style="color: red;">*</b>{% endif %}
                                </label>
                                {{ form.quantity_ordered }}
                            </div>
                            {{ form.quantity_ordered.errors }}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form">
                            <div class="form-group mb-4 pt-0"
                                 style="border-bottom: 0 !important;">
                                <label class="custom-label">
                                    {{ form.quantity_unit.label }}
                                    {% if form.quantity_unit.field.required %}
                                        <b style="color: red;">*</b>{% endif %}
                                </label>
                                {{ form.quantity_unit }}
                            </div>
                            {{ form.quantity_unit.errors }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer bg-grey-100">
        <button data-dismiss="modal" type="button"
                class="btn btn btn-outline-primary fuse-ripple-ready">Cancel
        </button>
        <button type="submit" class="btn btn btn-primary fuse-ripple-ready">
            Submit
        </button>
    </div>
</form>
<!--suppress ES6ConvertVarToLetConst -->
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $("#search-input-select-currency").select2({placeholder: "--select--", allowClear: false});
    });
</script>
{% include '_include/tab_index.html' %}